[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.5.3"
mkdocs-material = "==9.5.3"
mkdocs-minify-plugin = "==0.7.2"
mkdocs-awesome-pages-plugin = "==2.9.2"
pymdown-extensions = "==10.5"

[dev-packages]

[requires]
python_version = "3.12"
